<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<script type="text/javascript" src="../js/mydate.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript">
/**
 * 页面加载,从cookie中获得id, 
 * ajax发送请求,查,页面填充
 */
$(document).ready(function(){
	// 获得cookie,JavaScript获得cookie是全部的cookie
	var cookies = document.cookie.split("; ");
	var kv = cookies[0].split("=");
	var id = kv[1];
	
	$.ajax({
		url:"/RESTful/user/"+id,
		type:"GET",
		success:function(data){
			if(data.code == 200){
				$("input[name='name']").val(data.data.name);
				$("input[name='id']").val(data.data.id);
				$("input[name='password']").val(data.data.password);
				$("input[name='birthday']").val(data.data.birthday);
			}
		}
	});
});
</script>
<body>
<div class="col-md-3" style="margin-left: 200px;margin-top: 100px;font-size: 20px">
	<form action="#">
	<table class="table table-bordered">
		<tr>
			<td>用户名</td>
			<td>
				<input type="hidden" name="id" value="">
				<input type="text" name="name" value="">
			</td>
		</tr>
		<tr>
			<td>密码</td>
			<td>
				<input type="text" name="password" value="">
			</td>
		</tr>
		<tr>
			<td>生日</td>
			<td>
				 <div class="layui-inline">
     			 	<div class="layui-input-inline">
       				 	<input type="text" name="birthday" value="" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
      				</div>
   				</div>
			</td>
		</tr>
	</table>
	<input type="submit" value="更新" onclick="return updFun();">
	</form>
<script src="../layui/layui.js" type="text/javascript"></script>
<script type="text/javascript">
	 /*
	 * 因为PUT 请求 到后台Controller想要将数据封装成对象有两种方式
	   1. 前台ajax还继续使用post请求方式,但是在data中写{_method:"PUT","id":"","name":"",..}
		  后台Controller继续使用method=method=RequestMethod.PUT 接收即可
		  但是需要在web.xml中加入一些配置
		  https://blog.csdn.net/liuyuanjiang109/article/details/78972644#commentBox
	   2. 另一种方法简单一点.
	      	就是前台继续使用PUT方式提交,但是data数据 必须是json格式
	                        后台需要封装的对象必须使用@RequestBody 解析
	   --------------------------------------------
	   PS : 不管以上哪种方式,data都应该是json格式数据,所有使用序列化生成的格式不好用,需要手动拼接
	 */
function updFun(){
	// 获得表单数据		   
	var name = $("input[name='name']").val();
	var id = $("input[name='id']").val();
	var password = $("input[name='password']").val();
	var birthday = $("input[name='birthday']").val();
	var jsonObj = {"id":id,"name":name,"password":password,"birthday":birthday};
	var jsonStr = JSON.stringify(jsonObj);
	$.ajax({
		url:"/RESTful/user",
		type:"PUT",
		contentType:"application/json;charset=utf-8",
		data:jsonStr,
		success:function(data){
			if(data.code == 200){
				alert("更新成功");
				window.location.href="/RESTful/view/list.html";
			}
		}
	});
	return false;
}
</script>
<script>
//一般直接写在一个js文件中
layui.use('laydate', function(){
  var laydate = layui.laydate;
//常规用法
  laydate.render({
    elem: '#test1'
  });
});
</script> 
</body>
</html>